@import '~@angular/material/theming';

.app-container{
    height: 100%;
    width: 100%;
}
.app-sidebar{
    z-index: 1000 !important;
}
table {
    width: 100%;
}

.content {
    padding: 16px;
}

.content > mat-card {
    width: 277px;
    height: 180px;
}


.clickable {
    cursor: pointer;
    &:hover {
      @include mat-elevation(8);
    }
}