
<div class=content>
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Thank you !</h1> <br>
        <p>You have successfully scheduled a tutor session </p>
        <p>a confirmation email has been sent </p>
        <div>
          <br>
          <a href="student-courses"><button mat-raised-button color='primary' >Go Home</button></a>
        </div>
      </div>
      <div class="footer-like">
        <p>Email not received?
         <a href="#">Click here to send again</a>
        </p>
      </div>
  </div>
  </div>
  
  
  
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">