<h1>What would you like help with</h1>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Topic</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Encapsulation">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>More Info</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
  <section>
    
      <button mat-raised-button>Submit</button>

  