<br>
<br>
<h1>&nbsp; &nbsp;Check out this recommended content for your courses!</h1>



  <mat-list role='list'>
    <mat-list-item role='listitem' class='mat-list-item-word-wrap'><h2>Resources for CS 2700</h2></mat-list-item>
    &nbsp;<a href='https://www.w3schools.com/'>https://www.w3schools.com/</a>
    <br>
    &nbsp;<a href='https://www.w3schools.com/w3css/defaulT.asp'>https://www.w3schools.com/w3css/defaulT.asp</a>
    <br>
    &nbsp;<a href='https://www.w3schools.com/js/'>https://www.w3schools.com/js/</a>
    <br>
    <br>
    &nbsp;<mat-list-item role='listitem' class='mat-list-item-word-wrap'><br><h2>Resources for CS 4340</h2></mat-list-item>
    &nbsp;<a href='http://netbeans.apache.org/kb/'>http://netbeans.apache.org/kb/</a>
    <br>
    &nbsp;<a href='https://netbeans.apache.org/kb/docs/java/editor-codereference.html'>https://netbeans.apache.org/kb/docs/java/editor-codereference.html</a>
    <br>
    &nbsp;<a href='https://www.youtube.com/watch?v=vA0knYXaClY'>https://www.youtube.com/watch?v=vA0knYXaClY</a>
    <br>
    <br>
    &nbsp;<mat-list-item role='listitem' class='mat-list-item-word-wrap'><br><h2>Resources for MATH 1900</h2></mat-list-item>
    &nbsp;<a href='https://www.khanacademy.org/math/trigonometry'>https://www.khanacademy.org/math/trigonometry</a>
    <br>
    &nbsp;<a href='https://www.freemathhelp.com/trigonometry/'>https://www.freemathhelp.com/trigonometry/</a>
    <br>
    &nbsp;<a href='https://www.wolframalpha.com/'>https://www.wolframalpha.com/</a>
    <br>
    <br>
    &nbsp;<mat-list-item role='listitem' class='mat-list-item-word-wrap'><br><h2>Resources for MATH 1800</h2></mat-list-item>
    <a href='https://www.khanacademy.org/math/geometry'>https://www.khanacademy.org/math/geometry</a>
    <br>
    &nbsp;<a href='https://www.symbolab.com/'>https://www.symbolab.com/</a>
    <br>
    &nbsp;<a href='https://www.onlinemathlearning.com/geometry-help.html'>https://www.onlinemathlearning.com/geometry-help.html</a>
</mat-list>